:root {
    --base-padding: 1.875rem; /* Equivalent to 30px */
    --navbar-padding: 1.25rem; /* Equivalent to 20px */
    --box-shadow-offset: 0.9375rem; /* Equivalent to 15px */
    --box-shadow-blur: 0.625rem; /* Equivalent to 10px */
    --box-shadow-spread: -0.9375rem; /* Equivalent to -15px */
    --margin-top-hero: 1.625rem; /* Equivalent to 26px */
    --max-width-hero-img: 25rem; /* Equivalent to 400px */
    --max-width-hero-text: 35ch;
    --margin-top-h1: 2.25rem; /* Equivalent to 36px */
    --font-size-p: 1rem; /* Equivalent to 16px */
    --font-size-h1: 2.25rem; /* Equivalent to 36px */
    --margin-bottom: 1rem; /* Equivalent to 16px */
}

#app {
    width: 34.375rem; /* Equivalent to 550px */
}

.navbar {
    padding-block: var(--navbar-padding);
    box-shadow: 0 var(--box-shadow-offset) var(--box-shadow-blur) var(--box-shadow-spread) #ffffff;
}

.hero {
    display: flex;
    flex-direction: column;
}

.hero img {
    margin-top: 26px;
    max-width: 400px;
    align-self: center;
}

.hero-text p {
    max-width: var(--max-width-hero-text);
    font-size: var(--font-size-p);
    font-weight: 300;
}

.hero-text h1 {
    margin-top: var(--margin-top-h1);
    font-size: var(--font-size-h1);
    font-weight: 700;
}

.hero-text h1, p {
    margin-bottom: var(--margin-bottom);
    font-family: 'Poppins', sans-serif; /* Use Poppins typeface */
}

.card {
    font-size: 12px;
    margin-top: 50px;
}

.card--image {
    width: 35%;
    border-radius: 9px;
}

.card--stats {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.card--star {
    height: 14px;
}

.bold {
    font-weight: bold;
}

.gray {
    color: #918E9B;
}